{require_otp_vsn, "17"}.

{erl_opts,[
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps,[
       {dobby, ".*", {git, "https://github.com/ivanos/dobby_core_lib.git",
                      {branch,"master"}}},
       {erl_sshd, ".*", {git, "https://github.com/ivanos/erl_sshd.git",
                         {branch,"master"}}},
       {dobby_rest,  ".*", {git, "https://github.com/ivanos/dobby_rest_lib.git",
                            {branch,"master"}}},
       {dobby_ui, "", {git, "https://github.com/ivanos/dobby_ui_lib.git",
                       {branch, "master"}}, [raw]}
]}.

{sub_dirs,["rel"]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.
{eunit_compile_opts, [{src_dirs, ["src", "test"]}]}.


{post_hooks, [{compile,
               "sh -c 'cp -r deps/dobby_ui/www deps/dobby_rest/priv/static'"}]}.
