{require_otp_vsn, "17"}.

{erl_opts,[
    fail_on_warning,
    {parse_transform, lager_transform}
]}.

{deps,[
    {dobby,      ".*", {git, "https://github.com/marcsugiyama/dobby.git", {branch,"dobby-lib"}}},
    {erl_sshd, ".*", {git, "https://github.com/marcsugiyama/erl_sshd.git", {branch,"master"}}},
    {dobby_rest,  ".*", {git, "https://github.com/marcsugiyama/dobby_rest.git", {branch,"dobby_rest-lib"}}}
]}.

{sub_dirs,["rel"]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.
{eunit_compile_opts, [{src_dirs, ["src", "test"]}]}.
